    /* @media only screen and (min-width: 375px) and (max-width:1440px) {
        change screen
        don't need this due to the simplicity of the project only use if it doesnt
        work with multiple different screen  variations eg tablet/phone computer etc
     */
        body {
            font-family: 'Outfit';
            background-color: hsl(212, 45%, 89%);
            /* margin: 39px; */
            /* height: 210px; */
            /* height of the card matches exact of design */
            /* don't need this anymore with the min-height centering the card */
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0%;
        }
    
        .card {
            flex-direction: column;
            /* flex direction column centers top to bottom */
            width: 216px;
            height: 348px;
            text-align: center;
            background-color: hsl(0, 0%, 100%);
            padding: 13px;
            /* gives space between img */
            border-radius: 15px; 
            /* border radius curves the edge */
        }

    
        img {
            border-radius: 9px;
            justify-content: center;
            max-width: 100%;
            /* 100% brings img into card instead of bleeding out */
        }
        
        h1 {
            font-size: 15px;
            font-weight: 700;
            line-height: 125%;
            color: hsl(218, 44%, 22%);
            max-width: 180px;
            margin-right: auto;
            margin-left: auto;
            transform: scale(1.1);
            margin-top: 15px;
        }
        
        p {
            font-size: 15px;
            font-weight: 400;
            color: hsl(220, 15%, 55%);
            /* do not change */
            line-height: 95%;
            /* line space between texts above-below */
            word-spacing: 1px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(.9);
            /* makes paragraph smaller without changing font size */
            margin-top: .8em;
            /* brings paragraph closer-farther to h1 */
        }
    
        .attribution { 
            font-size: 11px; 
            text-align: center; 
            padding: 10%;
        }
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
    
